.addproduct {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #bbccd1;
        margin-top: 30px;
}

.addproduct form {
    display: flex;
    flex-direction: column;
}

.addproduct form>div {
    margin-bottom: 15px;
} 

.addproduct label {
    display: block;
        margin-bottom: 5px;
        font-weight: bold;
        text-align: left;
}
.addproduct input{
    width: 95%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* .addproduct input[type="file"]{
        width: 222px;
        margin-left: -22rem;
        cursor: pointer;
} */
.addproduct input[type="text"] {
    height: 62px;
        width: 93%;
    margin-left: -2px;
}
/* .addproduct input[type="number"]{
    background-color: blue;
} */
.close{
position: relative;
    font-size: 34px;
    cursor: pointer;
    left: 51%;
    top: -27px;
}
/* .preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px 0;
} */
.imagepreview{
        position: absolute;
        right: 34%;
        top: 42rem;
        margin-top: 22px;
}
.closeimage{
        position: absolute;
            right: -3%;
            font-size: 28px;
            top: -4%;
            color: red;
            cursor: pointer;
}