/* styles.css */
#addresspage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

#addresspage form {
    background-color: #d2c6c6;
    ;
    padding: 14px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(227 206 206 / 10%);
    width: 100%;
    max-width: 313px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#addresspage label {
    font-size: 14px;
    color: #333;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#addresspage input[type="text"] {
    margin-top: 5px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    /* font-size: 14px; */
    width: 70%;
    padding: 4px;
    margin-left: 42px;
}

.savedaddress {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: #d2c6c6;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: justify;
    margin-bottom: 16px;
}

.savedaddress:hover {
    background-color: rgb(133, 214, 170);
}

.addbtn {
    width: 150px;
    margin: auto;
}

.pincode {
    /* padding: 20px; */
    position: absolute;
    top: 10%;
    left: 18%;
}

.pincode input {
    border-top: thick;
}
.lc{
    font-size: 30px;
}
.lc:hover{
 color: blue;
}