.header{
    background-color:#dce2e8;
    height: 50px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}
 .left{
    margin-left: 20px;
 }
.right{
    margin-right: 66px;
}
.headerleft{
/* display: block; */
    font-size: 31px;
    font-weight: bold;
}
/* .sideicon{
    cursor: pointer;
} */
.sideicon:hover{
    background-color: #4949e347;
    border-radius: 8px;
    cursor: pointer;
    padding: 8px 14px 2px 14px;
}
.sideicon.active {
    background-color: #4949e347;
    border-radius: 8px;
    padding: 8px 14px 2px 14px;
}
.logo{
    margin-left: 10rem;
}
.call{
        background: white;
        border-radius: 14px;
        font-size: 23px;
        padding: 6px;
        margin-right: 10px;
}
.user{
    background: #f5e4e4;
        border-radius: 26px;
        font-size: 23px;
        padding: 6px;
        margin-right: 10px;
        color: #242020;
}