.page{
    display: flex;
}
.main{
    background-color: aliceblue;
}

.email>label{
    padding: 5px 182px 2px 10px;
    font-size: larger;
}
.password>label{  
    padding: 5px 162px 2px 10px;
    font-size: larger;
}
.email{
    margin-bottom: 20px;
    margin-top: 50px;
}
input{
    margin-top: 10px;
    font-size: small;
    padding: 12px 13px 10px 10px;
    width: 19rem;
    height: 25px;
    border-radius: 9px;
    border-style: dotted;
}
button{
    margin-top: 14px;
    font-size: large;
    padding: 6px;
    background: #464674;
    color: aliceblue;
    border-radius: 8px;
    width: 21rem;
    margin-left: 13px;
    border-style: none;
    height: 42px;
}
.pass>:nth-child(1){
    margin-left: -30px;
}
.img img{
    width: 38rem;
    height: 40rem;
    margin-left: 100px;
    border-radius: 20px;
    margin-top: 50px;
}
.img{
    width: 50%;
}
.input{
    margin: auto;
}
.btn{
    display:grid;
}
button:hover{
    cursor: pointer;
    background: rgb(98, 96, 96);
  }
.fg:hover{
    cursor: pointer;
    color: red;
}
.fg{
    margin-left: 13rem;
    margin-top: 10px;
    color: blue;
}