/* styles.css */
#paymentpage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.address {
    background-color: #b1aeae;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 600px;
}

.address h1 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333333;
}

.address-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.address-data span {
    font-size: 16px;
    color: #555555;
    line-height: 1.5;
}